project/#auto_saved_files#
project/e32wamb-backups
project/~*
project/_autosave-e32wamb.*
project/fabrication-toolkit-options.json
project/production
project/fp-info-cache
project/*.kicad_prl
project/e32wamb.step
